body {
	min-width: 323px;
	font-family: 'Helvetica Neue', 'Helvetica', sans;
	margin: 0;
}

#head-wrapper {
	padding: 2px;
	width: 100%;
	box-sizing: border-box;
  font-size: 30px;
	color: #ffffff;
	background-color: #2388DB;
}

#head-content {
	min-width: 1px;
	margin: auto;
  padding-left: 2px;
}

#main-wrapper {
	padding: 2px;
	height: 67%;
	width: 100%;
	box-sizing: border-box;
}

#main-content {
  padding-left: 2px;
}

#password {
	width: 100%;
	text-align: center;
}

#buttons {
  width: 100%;
  text-align: center;
}

.btn {
  background-color:#2388db;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  color:#ffffff;
  text-align: center;
  display:inline-block;
  font-size:15px;
  padding:6px 16px;
  text-decoration:none;
  margin: 2px 3px;
  width: 102px;
}.btn:hover {
  background-color:#2388db;
}.btn:active {
  position:relative;
  top:1px;
}
